<h1 class="animated fadeIn fast">About Page Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolore ipsum doloribus. Ducimus, 
    reiciendis rerum repellendus praesentium sunt amet voluptates illo odio vel tenetur voluptatibus 
    nihil, libero magnam et dicta. <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, obcaecati vel quas corrupti distinctio 
    incidunt. Harum suscipit minima deserunt nostrum a, ducimus consectetur et quos itaque adipisci, 
    blanditiis incidunt! Quas vitae cum fugiat. Consequatur optio labore animi placeat rerum laborum minima 
    at minus, cupiditate corporis?
</p>